# skip all latex temporary output files in all directories
**/*.aux
**/*.log
**/*.out
**/*.toc

# skip built pdf files in all directories
**/*.pdf

# nela näthack maptool directory structure
/snapshots
/maillist
/rules/charlist
/maptool
/fern
/software
/dl
/live
/maps
/misc
/old
/tmp
/tokpic
/icons & avatars
/objects
/states
/templates
/tokens
/markers
/hactac
/buildbook
/check-clean

# for tmp win10 laptop
/miktex-portable
/miktex-portable.cmd
/texmfs/
/rules/tmp-backup.181229
/rules/test.py

